@font-face { font-family: roboto-mono;  src: url('Roboto_Mono/static/RobotoMono-Regular.ttf'); }


body {
        margin: 0;
        font-family:roboto-mono;
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.logo {
    height: 150px;
    width: 250px;
}
.header-nav {
    display: flex;
}
.header-items {
    position: relative;
}
.header-item {
    font-size: 22px;
    cursor: pointer;
    position: relative;
    
}
.header-item-1:hover ~ #header-item-1-dropdown {
    display: block;
}
.header-item-2:hover ~ #header-item-2-dropdown {
    display: block;
}
.header-item-3:hover ~ #header-item-3-dropdown {
    display: block;
}
#header-item-1-dropdown,
#header-item-2-dropdown,
#header-item-3-dropdown {
    display: none;
    position: absolute;
    left: -50%;
    top: 35px;
    width: 200px;
    background-color: rgb(234, 244, 248);
    z-index: 1;
    animation: zoomIn 1s linear ;
}
#header-item-1-dropdown > ul {
    margin: 0;
    padding: 0;
    padding: 20px 15px;
}
#header-item-1-dropdown > ul > li {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
#header-item-2-dropdown > ul {
    margin: 0;
    padding: 0;
    padding: 20px 15px;
}
#header-item-2-dropdown > ul > li {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
#header-item-3-dropdown > ul {
    margin: 0;
    padding: 0;
    padding: 20px 15px;
}
#header-item-3-dropdown > ul > li {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.header-item:not(:last-child) {
    margin-right: 60px;
}
ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline;
    color: rgb(109, 125, 126);
    font-size: 22px;
   
}

/* li:not(:last-child) {
    margin-right: 60px; } */

.nav-label {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    cursor: pointer;
}
#nav {
    display: none;
}
.navbar{
    position: absolute;
    width: 350px;
    height: 100%;
    background: red;
    top: 0;
    left: 0;
}
.slider{
    width: 100%;
    height: 500px;
    position: relative;
}
.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button {
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 30px 45px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'roboto-mono';
    animation: bottomUp .7s linear;
    transition: all .2s;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px #423b33;
   }
   .slider-button:active {
      box-shadow:  #422626; 
      transform: translate(-50%, -45%);
   }

@keyframes bottomUp {
    0% {
        top: 54%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
     }
}
.slider-1 {
    width: 100%;
    height: 500px;
    position: relative;
    }
.slider-image-men {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button-men {
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 30px 45px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'roboto-mono';
    position: absolute;
    box-shadow: 0px 10px 10px #3a2424;
    animation: bottomup .7s linear;
    text-transform: uppercase;
    transition: all .2s;
    
}
.slider-2 {
    width:100%;
    height: 500px;
    position: relative;
}
.slider-image-woman {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button-woman {
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 30px 45px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'roboto-mono';
    position: absolute;
    box-shadow: 0px 10px 10px #3a2424;
    animation: bottomup .7s linear;
    text-transform: uppercase;
    transition: all .2s;
}
.slider-3 {
    width:100%;
    height: 500px;
    position: relative;
}
.slider-image-kids {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button-kids {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 30px 45px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'roboto-mono';
    box-shadow: 0px 10px 10px #3a2424;
    position: absolute;
    animation: bottomup .7s linear;
    text-transform: uppercase;
    transition: all .2s;
}
.footer {
    width: 100%;
    height: 30vh;
    background-color: rgb(255, 255, 255);
}
.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    color: rgb(67, 46, 73);
    font-size: 24px

}
.footer-logo {
    height: 150px;
    width: 250px;
    padding-top: 1.5rem;

}
.contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.contact-info > span{
    font-size: 18px;
    font-weight: 600;
}
.category-container{
   display: flex;
   margin: 1rem;
   position: relative;
}

.men,
.woman,
.kids {
    width: calc( 100% / 3 );
    height: 40vh;
    position: relative;
    background-color: rgb(252, 252, 252);
}
.category-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: opacity 0.5s;
}
.btn-men,
.btn-woman,
.btn-kids  {
    display: flex;
    align-items:center;
    position: absolute;
    width: calc( 100% / 3 );
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: roboto-mono;
    box-shadow: 5px 5px #ad97c0;
    text-transform: uppercase;
    justify-content: center;
    z-index: 1;
    
}
.btn-men:hover ~ img {
    opacity: 0.5 ;
}
.btn-woman:hover ~ img {
    opacity: 0.5 ;
}
.btn-kids:hover ~ img {
    opacity: 0.5 ;
}
.container {
    width: 80%;
    height: 65vh;
    margin: 0 auto;
    outline: 5px solid rgb(177, 134, 141);
    display: grid;
    grid-gap: 8px;
    background-color: thistle;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    

}
 
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(146, 84, 95);
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 19px;
    font-weight: bold;
}
.item:hover {
    color: white;
}

.i1{
    grid-column-start: 1;
    grid-column-end: 3  ;
    grid-row-start:1 ;
    grid-row-end: 3;
}
.i2{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}
.i3{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.i4{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
.i5{
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end:6 ;
}
.i6{
    grid-column-start: 3;
    grid-column-end:5 ;
    grid-row-start:4 ;
    grid-row-end: 6;
}
.i7{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}
.i8{
    grid-column-start: 6;
    grid-column-end:8 ;
    grid-row-start:3;
    grid-row-end: 5;
}
.i9{
    grid-column-start:8 ;
    grid-column-end: 9;
    grid-row-start:3 ;
    grid-row-end: 6;
}
.i10{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 8;
}
.i11{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
}
.i12{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}
.i13{
    grid-column-start: 5;
    grid-column-end:8 ;
    grid-row-start: 5;
    grid-row-end: 8;
}
.i14{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
}
.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8,
.img-9,
.img-10,
.img-11,
.img-12,
.img-13,
.img-14
 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 10px;
}


@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}
@keyframes zoomIn {
    0% { opacity: 0;
         transform: scale(0);
    }
    100% { opacity: 1;
            transform: scale(1);
        }
}
@keyframes zoomInFadeIn {
    0% {
        transform: translate( -50%,-50%);
        top: 48%;
        opacity: 0;
    }
    100% {
        transform: translate( -50%,-50%);
        top: 50%;
        opacity: 1;
    }

}